body{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(223, 223, 223);
}
img{
    width: 100px;
}

.container{
    display: grid;
    grid-template-columns: 500px 300px;
    grid-template-rows:150px 500px 300px 300px 200px 200px ;
    grid-template-areas: 
    "header header"
    "video sidebar"
    "videoactions sidebar"
    "showmore sidebar"
    ;
}
.nav-bar{
    display: block;
    grid-area: header;
}
.video{
    grid-area: video;
}
.sidebar{
    grid-area: sidebar;
}
.showmore{
    grid-area: showmore;
}