body{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif;
    background-color: rgb(223, 223, 223);
}
img{
    width: 100px;
}

.container{
    display: grid;
    grid-template-columns: 600px 300px;
    gap: 20px;
    grid-template-areas: "main" "aside";

}

#logo{
    width: 100px;
}

#sing_in{
    width: 100px;
    height: 20px;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
header{
    background-color: white;
}
.videoactions{
    background-color: white;
    /*padding: 20px;*/
    display: flex;
    justify-content: space-between;
}

.videoactions>div{
    font-size: 20px;
}

.showmore{
    background-color: white;
    margin: 20px;
    padding: 20px;
}
.author{
    background-color: white;
    display: grid;
    grid-template-columns: 100px 400px 100px;
    grid-template-rows: 50px 100px 50px;
    grid-template-areas: 
    "video-title video-title video-title"
    "author-avatar author-name numberofviews"
    "author-avatar subscribe-button ......";
}
.sidebar{
    background-color: white;
    padding: 20px;
}

.video-title{
    grid-area: video-title;
}
.author-avatar{
    grid-area: author-avatar;
}
.author-name{
    grid-area: author-name;
}
.numberofviews{
    grid-area: numberofviews;
}
.subscribe-button{
    grid-area: subscribe-button;
}
.footer{
    background-color: white;
    padding: 20px;
}
.upnext{
    display: flex;
    justify-content: space-between;
}
.footer>span{
    display: inline;
    padding: 10px;
    align-content: center;
    justify-content: space-between;
    font-size: 10px;
    background-color: rgb(211, 211, 211);
}
