body{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(223, 223, 223);
}
img{
    width: 100px;
}

.container{
    display: grid;
    grid-template-columns: 600px 300px;
    grid-template-areas: "main" "aside";
}

#logo{
    width: 100px;
}

#sing_in{
    width: 100px;
    height: 20px;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
}
