body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    width: 20%;
}
input{
    /*flex: right;
    margin: 20px;*/
    align-items: center;
    justify-content: center;
}
button{
    /*margin: 20px;*/
    align-items: center;
}

#avatar, #settings, #calendar{
    width: 5%;
    align-items: center;
}


#autoravatar{
    width: 5%;
    align-items: center;
}

#subscribe{
    width: 20%;
    align-items: center;
}
#share{
    width: 5%;
    align-items: center;
}