body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 225, 225);
}
i{
    font-size: 40px;
}
a{
    text-decoration: none;
    color: gray;
    margin: 10px;
}

.nav-bar{
    background-color: white;
}
#logo{
    width: 20%;
}
input{
    align-items: center;
    justify-content: center;
}
button{
    align-items: center;
}
.searchform>button[type="submit"]{
    height:inherit;
    width: 50px;
}

#avatar, #settings, #calendar{
    width: 5%;
    align-items: center;
}


#autoravatar{
    width: 5%;
    align-items: center;
}

#subscribe{
    width: 20%;
    align-items: center;
    margin: -40px 0px;
}
#share{
    width: 5%;
/*     align-items: center; */
}

.videoactions{
    padding: 40px;
/*     background-color:#f00; */
}
.sidebar{
    background-color:white;
}
.video>h1{
    background-color:white;
}
.video>h3{
    background-color:gray;
}


.sidebar{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    nav-right: auto;
}
  
.sidebar {
    width: 130px;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  } 


main{
    display: grid;
    grid-template-columns: 70% 30%;
}

footer{
    background-color: white;
}
span{
    background-color: gray;
    margin:5px;
    padding: 5px;
}