body{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(223, 223, 223);
}
img{
    width: 100px;
}

.container{
    width: 970px;
    display: grid;
    grid-template-columns: 600px 390px;
    justify-content: space-between;
    gap: 20px;
    grid-template-areas: "main aside";
    margin-top: 15px;
}

.logo{
    width: 100px;
}

#sign-in{
    width: 80px;
    height: 30px;
    background-color: rgb(22, 122, 198);
    border: none;
    border-radius: 2px;
    color:white;

}


.nav-bar{
    display: inline-flex;
    justify-content: space-around;
    padding: 20px;
    vertical-align: center;
    width: 970px;
    background-color: white;
}
.nav-sign>span{
    margin: 10px;
}
/* .video{
    background-color: white;
}
.video{
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
} */

.videoactions>div{
    font-size: 20px;
}

.showmore{
    background-color: white;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}
/* .video{
    background-color: white;
    display: grid;
    margin-top: 20px;
    padding: 10px;
    gap:10px;
    grid-template-columns: 100px 200px 100px 100px 100px;
    grid-template-rows: 30px 30px 30px 2px 50px;
    grid-template-areas: 
    "video-title video-title video-title video-title video-title"
    "author-avatar author-name ... ... ..."
    "author-avatar subscribe-button ... ... numberofviews"
    "line-actions line-actions line-actions line-actions"
    "videoactions videoactions videoactions videoactions videoactions"
    ;
} */
.video{
    background-color: white;
    padding: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(4,50px);
    grid-template-areas: 
    "video-title video-title video-title video-title video-title video-title"
    "author-avatar author-name ... ... ... ..."
    "author-avatar subscribe-button subscriber ... numberofviews ..."
    "add share ... ... like dislike "
    ;
}

.line-actions{
    color: gray;
    grid-area: line-actions;
}

.sidebar{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
#showmore-btn{
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.video-title{
    grid-area: video-title;
    justify-content: left;
}
.author-avatar{
    grid-area: author-avatar;
}
.author-name{
    color: rgb(100, 100, 100);
    grid-area: author-name;
    /* justify-self: baseline; */
}
.numberofviews{
    color: rgb(100, 100, 100);
    grid-area: numberofviews;
    justify-self: end;
    /* align-items: baseline; */
}
.videoactions{
    grid-area: videoactions;
}
.subscribe-button{
    grid-area: subscribe-button;
}
.subscriber{
    grid-area: subscriber;
}
.add{
    grid-area: add;
}
.share{
    grid-area: share;
}
.like{
    grid-area: like;
}
.dislike{
    grid-area: dislike;
}



.footer{
    background-color: white;
    padding: 20px; 
    width: 970px;
}
.upnext{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer>span{
    display: inline;
    padding: 10px;
    justify-content: space-around;
    font-size: 10px;
    background-color: rgb(211, 211, 211);
    
}


.input{
    width: 500px;
}

/* Thumnail style*/
.preview{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto auto;
    gap: 10px;
    grid-template-areas: 
    "thumnail-image thumnail-title"
    "thumnail-image thumnail-views";
}

.thumnail{
    width: 200px;
    margin-bottom: 21px;
}

.thumnail-image{
    grid-area: thumnail-image;
}

.thumnail-title{
    font-size: 15px;
    padding: 0px 30px 0px 5px;
    grid-area: thumnail-title;
}

.thumnail-views{
    font-size: 10px;
    grid-area: thumnail-views;
    color: darkgray;
}

/* icons styles*/
i {
    font-size: 20px;
    color: darkgray
}
a {
    text-decoration: none;
    color: gray;
    font-size: 10px;
}
